{% extends "/base.html" %}
{% set active_page = "data" %}
{% import "privacy/locked.html" as privacy %}

{% block content %}

<div class="alert-messages floating">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {%if messages %}
            {% for category, message in messages %}
            <div id="msg_{{category}}" class="alert alert-{{category}} fade in">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                {{ message | safe}}
            </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<span class="set-body-bg" data-bg="pattern-white-wall"></span>
<div class="splash" style="background-image:url({{ url_for('data.static', filename='img/splash.jpg') }});">
  <div class="splash-overlay vcenter hcenter">
  </div>
</div>

    <section class="mid-grey pattern-brushed box-shadow-grey-bottom">
        <p class="attribution">Image: William Playfair, 1823</p>
        <div class="container container-padded">
            <div class="col-md-11">
                <h1 class="inset-text-grey">Data</h1>
                <div class="lead">
                    <p>
                        This page contains all of the open datasets collected from, and images used within,
                        the experimental crowdsourcing projects hosted on this platform. Everything on this page is made available
                        under <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0</a>, meaning that
                        it can be used without any copyright restrictions. <a href="http://labs.bl.uk/" target="_blank">BL Labs</a>
                        are very keen for these materials to be used in innovative ways to further research into new technologies.
                        For instance, the digitised catalogue cards used in our Convert-a-Card projects might prove useful for testing
                        pattern recognition applications such as multi-lingual and hand-writing OCR technologies.
                    <p>
                        {% if "pybossa_discourse" in plugins %}
                        Visit the <a href="{{url_for('discourse.index')}}">LibCrowds Community</a>
                        {% else %}
                        <a href="mailto:{{contact_email}}">Email us </a>
                        {% endif %}
                        if you have any further enquiries, or would simply like to tell us about how you've made use of the data.
                    </p>
                </div>
            </div>
        </div>
    </section>

<section class="padding-top-sm">
    <div class="container container-padded">

        {% if display['tasks'] %}
        <div class="row padding-bottom-md">
            <div class="col-xs-12">
                <div class="white-panel inset-shadow-white">
                    <h3 class="text-center">Raw task data</h3>
                    <table class="table table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th class="text-center">JSON</th>
                                <th class="text-center">CSV</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('project.details', short_name=project.short_name) }}">{{project.name}}</a>
                                </td>
                                <td class="text-center">
                                    <a href="{{url_for('project.export_to', short_name=project.short_name, type='task', format='json')}}" rel="nofollow">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="{{url_for('project.export_to', short_name=project.short_name, type='task', format='csv')}}" rel="nofollow">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

        {% if display['task_runs'] %}
        <div class="row padding-bottom-md">
            <div class="col-xs-12">
                <div class="white-panel inset-shadow-white">
                    <h3 class="text-center">Raw contribution data</h3>
                        <table class="table table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th class="text-center">JSON</th>
                                <th class="text-center">CSV</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('project.details', short_name=project.short_name) }}">{{project.name}}</a>
                                </td>
                                <td class="text-center">
                                    <a href="{{url_for('project.export_to', short_name=project.short_name, type='task_run', format='json')}}" rel="nofollow">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="{{url_for('project.export_to', short_name=project.short_name, type='task_run', format='csv')}}" rel="nofollow">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

        {% if display['results'] %}
        <div class="row padding-bottom-md">
            <div class="col-xs-12">
                <div class="white-panel inset-shadow-white">
                    <h3 class="text-center">Result data</h3>
                        <table class="table table-condensed table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Project</th>
                                <th class="text-center">XML</th>
                                <th class="text-center">CSV</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for project in projects %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('project.details', short_name=project.short_name) }}">{{project.name}}</a>
                                </td>
                                <td class="text-center">
                                    <a href="{{url_for('data.xml_export', short_name=project.short_name)}}" rel="nofollow">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <a href="{{url_for('data.csv_export', short_name=project.short_name)}}" rel="nofollow">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% endif %}

        {% if display['flickr'] %}
        <div class="row">
            <div class="col-xs-12">
                <div class="white-panel inset-shadow-white text-center">
                    <h3>Images</h3>
                    <h4>Visit our <a href="http://www.flickr.com/photos/132066275@N04/albums">Flickr page</a>
                    to view or download any of the images used in the projects.<p>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
