{% extends "_layouts/splash.html" %}
{% set active_page = "data" %}
{% import "_helpers/_card.html" as card_helpers %}
{% import "_helpers/_table.html" as table_helpers %}
{% import "_helpers/_category.html" as category_helpers %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('data.static', filename='css/styles.css') }}">
<div id="data-jumbotron" class="jumbotron jumbotron-fullscreen invert-navbar jumbotron-fade mb-0 d-flex align-items-center"></div>
<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <h1 class="text-uppercase font-weight-bold display-4 text-center">Data</h1>
                <hr class="bw-3 my-4">
                <p class="lead">
                    This page contains all of the open datasets generated via from the experimental crowdsourcing projects 
                    hosted on this platform. Everything on this page is made available under 
                    <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0</a>, meaning that
                    it can be used by anyone without any copyright restrictions. We are very keen for these materials to be used 
                    in innovative ways to further research into new technologies. For instance, the digitised images used as the 
                    initial project input, alongside the results transcribed or derived by other other means might prove useful 
                    for testing pattern recognition applications such as multi-lingual and hand-writing OCR technologies.
                </p>
                <p class="lead">
                    The digitised images used in our crowdsourcing projects can generally be downloaded as datasets via 
                    <a href="http://data.bl.uk/" target="_blank">data.bl.uk</a>.
                </p>
                <hr>
                <p class="lead">
                    Get in touch via
                    {% if "pybossa_discourse" in plugins %}
                    Visit the <a href="{{ url_for('discourse.index') }}">the LibCrowds Community</a>
                    {% else %}
                    <a href="mailto:{{ contact_email }}">email</a>
                    {% endif %}
                    to let us know how you have made use of the data, or if you have any further enquiries.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-faded">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                {{ category_helpers.render_strip(categories) }}
                {% for c in categories %}
                <div id="category-{{ c.id }}" {% if not loop.first %}style="display: none;"{% endif %}>
                    <div class="card my-5">
                        {{ card_helpers.render_title("Task Data", "Download raw task data", search_table="#cat-{}-tasks-table".format(c.id)) }}
                        <div class="table-responsive">
                            <table id="cat-{{ c.id }}-tasks-table" class="table table-hover table-striped mb-0">
                                {{ table_helpers.render_head(['Project Name', 'Tasks', 'CSV', 'JSON'], center_indexes=[2, 3, 4]) }}
                                <tbody>
                                    {% for p in projects[c.short_name] %}
                                    <tr>
                                        {{ table_helpers.render_cell(p.name, url=url_for('project.details', short_name=p.short_name)) }}
                                        {{ table_helpers.render_cell(p.n_tasks, center=True) }}
                                        {{ table_helpers.render_cell('Download', url=url_for('project.export_to', short_name=p.short_name, type='task', format='csv'), btn=True, center=True) }}
                                        {{ table_helpers.render_cell('Download', url=url_for('project.export_to', short_name=p.short_name, type='task', format='json'), btn=True, center=True) }}
                                    </tr>
                                    {% endfor %}
                                    {{ table_helpers.render_no_data_row(4) }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card my-5">
                        {{ card_helpers.render_title("Contribution Data", "Download raw contribution data", search_table="#cat-{}-contributions-table".format(c.id)) }}
                        <div class="table-responsive">
                            <table id="cat-{{ c.id }}-contributions-table" class="table table-hover table-striped mb-0">
                                {{ table_helpers.render_head(['Project Name', 'Contributions', 'CSV', 'JSON'], center_indexes=[2, 3, 4]) }}
                                <tbody>
                                    {% for p in projects[c.short_name] %}
                                    <tr>
                                        {{ table_helpers.render_cell(p.name, url=url_for('project.details', short_name=p.short_name)) }}
                                        {{ table_helpers.render_cell(p.n_task_runs, center=True) }}
                                        {{ table_helpers.render_cell('Download', url=url_for('project.export_to', short_name=p.short_name, type='task_run', format='csv'), btn=True, center=True) }}
                                        {{ table_helpers.render_cell('Download', url=url_for('project.export_to', short_name=p.short_name, type='task_run', format='json'), btn=True, center=True) }}
                                    </tr>
                                    {% endfor %}
                                    {{ table_helpers.render_no_data_row(4) }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card my-5">
                        {{ card_helpers.render_title("Results Data", "Download the final result data", search_table="#cat-{}-results-table".format(c.id)) }}
                        <div class="table-responsive">
                            <table id="cat-{{ c.id }}-results-table" class="table table-hover table-striped mb-0">
                                {{ table_helpers.render_head(['Project Name', 'Results', 'CSV', 'XML'], center_indexes=[2, 3, 4]) }}
                                <tbody>
                                    {% for p in projects[c.short_name] %}
                                    <tr>
                                        {{ table_helpers.render_cell(p.name, url=url_for('project.details', short_name=p.short_name)) }}
                                        {{ table_helpers.render_cell(p.n_results, center=True) }}
                                        {{ table_helpers.render_cell('Download', url=url_for('data.export_results', short_name=p.short_name, format='csv'), btn=True, center=True) }}
                                        {{ table_helpers.render_cell('Download', url=url_for('data.export_results', short_name=p.short_name, format='xml'), btn=True, center=True) }}
                                    </tr>
                                    {% endfor %}
                                    {{ table_helpers.render_no_data_row(4) }}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section>
    
</section>
{% endblock %}
